.story-point-label-grid {
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	// gap: 6px;

	// display: flex;
	// flex-direction: row;
	// flex-wrap: wrap;

	& > * {
		// text-overflow: ellipsis;

		// flex: auto;
		// flex-grow: 1;
		// flex-shrink: 1;
	}

	list-style-type: none;

	/* counter-styles */
	padding-left: 0;
	margin-bottom: 0;
}

.story-point-label-grid__list-item {
}

.story-point-label-grid__list-item--selected {
}

.story-point-label-grid__list-item-button {
	&.select-initiated {
		border: 1px solid HSL(219, 100%, 64%); // #4687ff;
	}

	&.select-confirmed,
	&.select-idle {
		border: 1px solid HSL(120, 100%, 30%);
		// font-weight: 500;
		// hsl(148deg 77% 29%)
	}

	/** BEGIN resetting the default .btn effects because we have our own */
	animation: none !important;
	transition: none !important;

	&:hover,
	&:focus {
		animation: none !important;
		transition: none !important;

		background-color: white;
	}
	/** END resetting the default .btn effects because we have our own */
}

.cursor-loading {
	cursor: progress !important;
}
